[submodule "feat-dark-theme"]
	path = patches/feat-dark-theme
	url = git@github.com:ragavpr/overrides-wings.io
	branch = feat-dark-theme
[submodule "feat-profanity-filter"]
	path = patches/feat-profanity-filter
	url = git@github.com:ragavpr/overrides-wings.io
	branch = feat-profanity-filter
[submodule "mod-always-show-nickinput"]
	path = patches/mod-always-show-nickinput
	url = git@github.com:ragavpr/overrides-wings.io
	branch = mod-always-show-nickinput
[submodule "mod-colorful-trail"]
	path = patches/mod-colorful-trail
	url = git@github.com:ragavpr/overrides-wings.io
	branch = mod-colorful-trail
[submodule "mod-disable-shake"]
	path = patches/mod-disable-shake
	url = git@github.com:ragavpr/overrides-wings.io
	branch = mod-disable-shake
[submodule "mod-mark-bots-with-color"]
	path = patches/mod-mark-bots-with-color
	url = git@github.com:ragavpr/overrides-wings.io
	branch = mod-mark-bots-with-color
[submodule "mod-mark-bots-with-emoji"]
	path = patches/mod-mark-bots-with-emoji
	url = git@github.com:ragavpr/overrides-wings.io
	branch = mod-mark-bots-with-emoji
[submodule "mod-remove-leaderboard-limit"]
	path = patches/mod-remove-leaderboard-limit
	url = git@github.com:ragavpr/overrides-wings.io
	branch = mod-remove-leaderboard-limit
[submodule "source"]
	path = source
	url = git@github.com:ragavpr/overrides-wings.io
	branch = archive
